.fr {
    background: olive;
    height: 70px;
    width: 820px;
    margin-bottom: 7px;
    text-align: center;
}
.sec {
    background-color: olive;
    width: 510px;
    height: 150px;
    margin-right: 7px;
    text-align: center;
}
.fth { display: flex;
flex-direction: row;
}
.tr { background: olive;
width: 302px;
height: 150px;
    text-align: center;
}

@media screen and ( max-width: 768px )
{
    .fth { display: flex;
        flex-direction: column; align-items: center; row-gap: 7px;
    }
    .fr { width: 768px}
    .sec { width: 786px;
    height: 270px;
    }
.tr {
    width: 768px;
    height: 50px;
}

}