.txt {
    background: darkcyan;
    width: 301px;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}
.hg-100 { height: 100px; }
.hg-200 {height: 200px}

.same {
    background: cadetblue;
    height: 75px;
    width: 99px;
    text-align: center;
}
#test {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}
#set { margin-bottom: 2px}
#post { margin-right: 2px}
#col { margin-right: 2px }