.first {
    background: cadetblue;
    height: 100px;
    width: 301px;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    margin-bottom: 2px;
}
.second { display: flex;
}
.green {
    background: cadetblue;
    height: 75px;
    width: 99px;
    text-align: center;
    margin-right: 2px;

}
.red {
    background: cadetblue;
    height: 75px;
    width: 99px;
    text-align: center;
    margin-right: 2px;

}
.blue {
    background: cadetblue;
    height: 75px;
    width: 99px;
    text-align: center;


}
.third {
    background: cadetblue;
    height: 200px;
    width: 301px;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    margin-top: 2px;
}