.first {
    background: darksalmon;
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 25px;
}
.second {
    display: flex;
    flex-direction: row;
}
.green {
    display: flex;
    flex-direction: column;
}
.small {
    background: darksalmon;
    height: 50px;
    width: 199px;
    text-align: center;
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.blue {
    background: darksalmon;
    width: 98px;
    height: 117px;
    text-align: center;
    font-size: 25px;
    margin-top: 2px;
    margin-left: 2px;
}
.big {
    display: flex;
}
.target1 {
    background: darksalmon;
    height: 65px;
    width: 65px;
    margin-right: 2px;
    text-align: center;
}
.target2 {
    background: darksalmon;
    height: 65px;
    width: 65px;
    margin-right: 2px;
    text-align: center;

}
.target3 {
    background: darksalmon;
    height: 65px;
    width: 65px;
    text-align: center;

}