
.green {
    background: greenyellow;
    text-align: center;
    border: 2px solid black;
    height: 60px;
    width: 300px;
}
.big { display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;

}
.red { background: darkred;
    border: 2px solid black;
    height: 182px;
    width: 110px;
    text-align: center;
    margin-right: 2px;
}
.blue {
    display: flex;
    flex-direction: column;
}

.smal1 {
    background: aquamarine;
    text-align: center;
    border: 2px solid black;
    height: 88px;
    width: 184px;
    margin-bottom: 2px;
}
.smal2 {
    background: aquamarine;
    text-align: center;
    border: 2px solid black;
    height: 88px;
    width: 184px;
}
.grey {
    background: darkseagreen;
    text-align: center;
    border: 2px solid black;
    height: 60px;
    width: 300px;

}