.body {
    margin: 0;}
.target0 { background: brown;
padding-left: 800px;
    padding-right: 100px;
    color: aliceblue;
    font-size: 30px;
}
.target {  background: silver;
height: 60px;
    box-sizing: border-box;
    padding: 15px;
}
.target1 {
    background: white;
height: 20px;
}
.target2 { background: #3e3e9b;
height: 60px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.target3 {
    background: aquamarine;
    height: 150px;
    width: 120px;
}
.target4 {
    background: blueviolet;
    height: 150px;
    width: 120px;
    border-radius: 20px;
}